<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <title>Messenger App</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <!--Topbar-->
                <p class="navbar-brand col-sm-3 col-md-2 mr-0">
                    Messenger App
                </p>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar top_padding" style="padding-bottom:60%;">
                    <!--Sidebar-->
                    <div class="sidebar-sticky">
                        <h5 class="sidebar-heading d-flex align-items-center">
                            Display Name
                        </h5>
                        <p id="display_name">  
                        </p>
                        <h5 class="sidebar-heading d-flex align-items-center">
                            Current Channel
                        </h5>
                        <p id="channel_name">general</p>
                        <h5 class="sidebar-heading d-flex align-items-center">
                            Channels
                        </h5>
                        {% block channels %}
                        {% endblock %}
                    </div>
                </nav>
                <div class="col-md-9 ml-sm-auto col-lg-10 px-4 top_padding">
                    <!--Message Area-->
                        <p>Messages:</p>
                        {% block messages %}

                        {% endblock %}
                    
                </div>
                <!--Message Send Area-->
                <nav class="navbar navbar-dark fixed-bottom bg-dark col-md-10 ml-sm-auto col-lg-10">
                        <input class="form-control form-control-dark w-200 col-8" type="text" placeholder="Message" style="width:200%" id="message_text">
                        <div class="col-2" style="transform: translateX(-70%);">
                            <button id="send_btn" class="btn btn-info">Send</button>
                    </div>    
                </nav>
            </div>
        </div>
    </body>
</html>